@page "/"

<PageTitle>Home</PageTitle>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px;">
        <title>Title</title>
        <div class="card-body">
        
    
        <a href="/MostActiveDoors"style="test-align:center">data</a>
        </div>
    </div>
</button>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px; ">
        <div class="card-body">

    
        <a href="/MostActiveUsers"style="test-align:center">data</a>
        </div>
    </div>
</button>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px;">
        <div class="card-body">

    
        <a href="/DailyActivity"style="test-align:center">data</a>
        </div>
    </div>
</button>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px; ">
        <div class="card-body">

    
        <a href="/MostActiveDays"style="test-align:center">data</a>
        </div>
    </div>
</button>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px;">
        <div class="card-body">

    
        <a href="/UniqueDailyEntries"style="test-align:center">data</a>
        </div>
    </div>
</button>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px; ">
        <div class="card-body">

    
        <a href="/LongestTimesOfInActivity"style="test-align:center">data</a>
        </div>
    </div>
</button>
<button type="button" class="btn btn-danger">
    <div class="card" style="width:400px; height:400px; padding:100px;">
        <div class="card-body">

    
        <a href="/AbnormalEntries"style="test-align:center">data</a>
        </div>
    </div>
</button>

